@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=League+Spartan:wght@400;500;700&family=Roboto:wght@300;700&display=swap');



:root{
    --Desaturade-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --gradient1: hsl(0, 0%, 100%);
    --gradient2: hsl(0, 100%, 98%);
    --gradient3: hsl(0, 80%, 86%);
    --gradient4: hsl(0, 74%, 74%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    color: var(--Desaturade-Red);
}

.container{
    width: 375px;
    height: 800px;
    margin: 0 auto 80px;
    background-color: var(--gradient2);
}
.container__logo{
    width: 100px;
    margin: 30px;
}
.container__picture{
    margin-bottom: 60px;
}

.container__content__title{
    text-align: center;
    text-transform: uppercase;   
    font-size: 2.5em;
    color: var(--Dark-Grayish-Red);
    font-weight: 700;
    letter-spacing: 11px;
    margin-bottom: 30px;
}
.container__content__title--color-red{
    color: var(--Desaturade-Red);
    font-weight: 300;
}
.container__content__description{
    margin: 0 40px 40px;
    text-align: center;
    font-size: 0.85em;
    line-height: 1.4em;
}

.container__content__form{
    width: 310px;
    height: 50px;
    margin: auto;
    position: relative;
}

.container__content__form__email{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    padding-left: 16px;
    border: 1px solid var(--Desaturade-Red);
    outline: none;
    /*background-image: url(../images/icon-error.svg);*/
    background-repeat: no-repeat;
    background-position: 210px;
}
.container__content__form__email::placeholder{
    color: var(--Desaturade-Red);
}

.container__content__form__button{
    position: absolute;
    right: 0;
    height: 100%;
    width: 60px;
    border-radius: 50px;
    background: linear-gradient(135deg, var(--gradient3), var(--gradient4));
    padding: 15px 20px;
}

.container__content__form__button:hover{
    background: linear-gradient(135deg, var(--gradient2), var(--gradient4));
    box-shadow:  5px 8px 15px var(--gradient4);
}

.container__content__form__email--error{
    font-size: 0.85em;
    margin: 8px 0 0 14px;
    color: var(--Soft-Red);
}



.attribution {
    font-size: 14px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


/*----------VISTA DESKTOP-----------*/

@media (min-width:1440px) {
    .container{
        width: 1440px;
        height: 800px;
        background-image: url(../images/bg-pattern-desktop.svg);
        position: relative;
    }
    .container__logo{
        width:180px;
        margin: 70px 0 0 170px;
    }

    .container__picture{
        content: url(../images/hero-desktop.jpg);
        position: absolute;
        right: 0;
    }

    .container__content{
        width: 440px;
        margin: 100px 170px;
    }
    
    .container__content__title{
        text-align: left;
        font-size: 4.1em;
        letter-spacing: 15px;
    }
    .container__content__description{
        text-align: left;
        font-size: 1em;
        margin: 0 0 40px;
    }
    .container__content__form{
        width: 100%;
    }
    .container__content__form__button{
        width: 16%;
        height: 100%;
    }
}